<system.webServer>        
	<rewrite>
		<rules>
			<rule name="CanonicalHostNameRule">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTP_HOST}" pattern="^chifon\.com\.br$" negate="true" />
				</conditions>
				<action type="Redirect" url="http://chifon.com.br/{R:1}" />
			</rule>
			<rule name="LowerCaseRule" stopProcessing="true">
				<match url="[A-Z]" ignoreCase="false" />
				<action type="Redirect" url="{ToLower:{URL}}" />
				<conditions>
					<add input="{URL}" pattern="WebResource.axd" negate="true" />
					<add input="{URL}" pattern="Scripts" negate="true" />
					<add input="{URL}" pattern="Content" negate="true" />
				</conditions>
			</rule>
		</rules>
	</rewrite>
</system.webServer>